.container{
   justify-content: center;
   align-items: center;
   width: 80%;
   margin: 20px auto;
   background-color: rgb(37, 37, 37);
   height: auto;
   padding: 20px;
   border-radius: 26px;

   

}

.container h1{
  text-align: center;
  font-size: 38px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  color: #ddd;
  padding: 8px 0;

}
.container input{
  height: 50px;
  width: 80%;
  background-color: #3a3939;
  margin:  10px auto;
  display: flex;
  font-size: 20px;
  color: rgb(192, 190, 190);
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  border: none;
}

.container button{
  width: 80%;
  height: 50px;
  background-color: #735bf2;
  color: white;
  border-radius: 10px;
  border: none;
  display: flex;
  margin-inline: auto;
  margin-top: 30px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container button:hover{
  opacity: .8;
  transition: .3s;
}